lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store

pids
logs
results

typings
.vscode
.idea
.npm
node_modules
npm-debug.log
.awcache/
dist/
token.txt
coverage
package-lock.json
.serverless
.env
